<% include layout/header %>
<div class="content">
	<p>Bạn muốn đặt lại mật khẩu của mình?</p>
	<p>Hãy bấm vào đường link phía dưới để đặt lại mật khẩu:</p>
	<a class="link">
		Đặt lại mật khẩu
	</a>
</div>
<% include layout/footer %>

