<% include layout/header %>
<div style="font-size: 20px">Chúc mừng đã có người đăng ký để bán vé cho bạn</div>
<div style="font-size:16px; margin-top:30px; margin-bottom: 40px; line-height: 1.8">
	<div>Vui lòng liên hệ với người bán vé thông qua thông tin dưới đây</div>
	<div>
		<div>Tên: <%= contactor.fullName %></div>
		<div>Email: <%= contactor.email %></div>
		<div>SDT: <%= contactor.phone %></div>
	</div>
</div>
<% include layout/footer %>
