<% include layout/header %>
<div style="font-size: 20px">Bạn đã đăng ký bán vé</div>
<div style="font-size:16px; margin-top:30px; margin-bottom: 40px; line-height: 1.8">
	<div>Vui lòng liên hệ với người mua vé thông qua thông tin dưới đây</div>
	<div>
		<div>Tên: <%= creator.fullName %></div>
		<div>Email: <%= creator.email %></div>
		<div>SDT: <%= creator.phone %></div>
	</div>
</div>
<% include layout/footer %>
