<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
	<div style="
        box-sizing:border-box;
        padding: 50px 80px;
        max-width: 768px;
        margin: auto;
        background-image: url('https://www.chove.vn/email-background.png');
        background-size: cover;
        font-family: Roboto;
    ">

		<div style="
            box-sizing:border-box;
            padding:20px;
            background-color:#fff;
            box-shadow:0px 0px 17px rgba(148, 148, 148, 0.2485);
            text-align:center;
            color: #606060;
        ">
			<img src="https://www.chove.vn/logo/2x.png" width="200" />
			<h2 style="font-size: 28px">Chào mừng bạn đến với dịch vụ của Chợ vé</h2>
			<div style="font-size: 20px">Chúc mừng bạn đã đăng kí thành công tài khoản Chợ vé</div>
			<div style="font-size:16px; margin-top:30px; margin-bottom: 40px; line-height: 1.8">
				<div>Vui lòng nhấn vào đường dẫn bên dưới để có thể xác thực tài khoản</div>
				<a href="<%= verifyHref %>">
					Xác thực tài khoản
				</a>
			</div>

			<div style="width: 150px; height: 1px; background: #D6D5D5; margin:auto"></div>
			<div style="font-size:20px; margin-top:15px;margin-bottom:40px;font-weight:700">Chợ vé Services team</div>
			<div>
				<p style="font-size:12px;color:#B2B2B2;">25 Lạc Trung, Vĩnh Tuy, Hai Bà Trưng, Hà Nội.</p>
				<p style="font-size:12px;color:#B2B2B2;">Hotline: 0913231019</p>
			</div>
		</div>
	</div>
</body>
