<div style="box-sizing:border-box;padding: 40px;max-width:768px;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;background-color:#4A9CD5;">
	<div class="main-email" style="box-sizing:border-box;padding:20px;background-color:#fff;box-shadow:0px 0px 17px rgba(148, 148, 148, 0.2485);text-align:center;">
		<img src="https://www.chove.vn/logo/2x.png" alt="" style="box-sizing:border-box;max-width:120px;height:auto;padding-top:25px;padding-bottom:25px;padding-right:0;padding-left:0;">
		<div>
			<h1>Chúc mừng</h1>
			<p>Bạn đã đăng ký tài khoản thành công</p>
			<p>Làm ơn xác nhận tài khoản của bạn bằng cách click vào đường link bên dưới:</p>
			<div>
				<a href="<%= verifyHref %>">
					<%= verifyHref %>
				</a>
			</div>
		</div>
		<div style="box-sizing:border-box;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;color:#7b7b7b;">
			<p class="footer__copyright" style="box-sizing:border-box;font-size:14px;margin-top:10px;margin-bottom:0;margin-right:0;margin-left:0;color:#7b7b7b;">25 Lạc Trung, Vĩnh Tuy, Hai Bà Trưng, Hà Nội.</p>
			<p class="footer__copyright" style="box-sizing:border-box;font-size:14px;margin-top:10px;margin-bottom:0;margin-right:0;margin-left:0;color:#7b7b7b;">Hotline: 0913231019</p>
		</div>
	</div>
</div>
