<% include layout/header %>
<div class="title">Chúc mừng bạn đã đăng kí thành công tài khoản Chợ vé</div>
<div class="content">
	<div>Vui lòng nhấn vào đường dẫn bên dưới để có thể xác thực tài khoản</div>
	<a class="link" href="<%= verifyHref %>">
		Xác thực tài khoản
	</a>
</div>
<% include layout/footer %>
