			<div style="width: 150px; height: 1px; background: #D6D5D5; margin:auto"></div>
			<div style="font-size:20px; margin-top:15px;margin-bottom:40px;font-weight:700">Chợ vé Services team</div>
			<div>
				<p style="font-size:12px;color:#B2B2B2;">25 Lạc Trung, Vĩnh Tuy, Hai Bà Trưng, Hà Nội.</p>
				<p style="font-size:12px;color:#B2B2B2;">Hotline: 0913231019</p>
			</div>
		</div>
	</div>
</body>
