<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
	<!--[if gte mso 9]><xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<title></title>
	<!--[if !mso]><!-- -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<!--<![endif]-->

	<style type="text/css" id="media-query">
		.wrapper {
			box-sizing:border-box;
			padding: 50px 80px;
			max-width: 768px;
			margin: auto;
			background-image: url('https://s3-ap-southeast-1.amazonaws.com/chove.vn/static/email-background.png');
			background-size: cover;
			font-family: Roboto;
		}
		.container {
			box-sizing:border-box;
            padding:20px;
            background-color:#fff;
            box-shadow:0px 0px 17px rgba(148, 148, 148, 0.2485);
            text-align:center;
            color: #606060;
		}
		.header  {
			font-size: 28px;
		}
		.title {
			font-size: 20px;
		}
		.content {
			font-size:16px;
			margin-top:30px;
			margin-bottom: 40px;
			line-height: 1.8
		}
		.link {
			background: #476ac5;
			color: #fff;
			padding: 10px 20px;
			margin-top: 20px;
			display: inline-block;
			border-radius: 3px;
			text-decoration: none;
		}
		@media (max-width: 420px) {
			.wrapper {
				padding: 20px;
			}
		}
		@media (max-width: 320px) {
			.wrapper {
				padding: 10px;
			}
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chove.vn/static/2x.png" width="200" />
			<h2 class="header">Chào mừng bạn đến với dịch vụ của Chợ vé</h2>

